@import 'assets/project-styles/mixin.scss';
@include scrollbarMedium('.goal__modal');
@include scrollbarMedium('.switcher__container');

.goals {
    & input,
    textarea,
    select,
    button {
        font-size: 16px;
    }
    & .goalContainer {
        background-color: #fff;
        border-radius: 15px;
        &.maxPadding {
            padding: 18px 36px;
        }
        &.minPadding {
            padding: 24px;
        }
    }
    & .missionContent {
        & h2 {
            margin-right: 32px;
        }
    }
    & .missionRead {
        & button {
            top: 21px;
        }
        & button:last-child {
            right: 200px;
        }
    }
    & .missionEdit {
        & button:last-child {
            right: 50px;
        }
        & input {
            padding-top: 3px !important;
        }
    }
    & .goal__item-mission {
        & input {
            border: none;
            max-width: calc(100vw - 955px);
            width: calc(100vw - 920px);
            font-size: 16px;
            border-bottom: 1px solid #25315b;
        }
        & input {
            padding-top: 4px;
        }

        & input::placeholder {
            font-weight: bold;
            color: #25315b;
            border-bottom: 1px solid #25315b;
        }

        & button {
            position: absolute;
            right: 36px;
            color: #25315b;
            transition: all 0.3s ease-in-out;
            font-size: 16px;
            font-weight: bold;
        }
        & button:disabled {
            opacity: 0.5;
        }
    }
    & .goal__modal__sphere__color {
        margin-bottom: 0 !important;
    }
    & .goal__on-focus__item {
        display: flex;
        & svg {
            margin-right: 20px;
            margin-top: 1px;
        }
    }
    & .goalInternalContainer {
        margin-bottom: 20px;
    }
    & h2,
    h3 {
        font-size: 21px;
        font-weight: bold;
        margin-right: 16px;
        margin-bottom: 0;
        color: #25315b;
    }
    & .goals__container {
        padding-top: 36px;
        display: flex;
        & .goals__container-switcher-title {
            max-width: calc(100vw - 600px);
            min-width: calc(100vw - 600px);

            margin-right: 20px;
            width: max-content;
            & .title {
                display: flex;
                margin-bottom: 20px;
                position: relative;
                & p {
                    margin-bottom: 0;
                    padding-top: 3px;
                    font-size: 16px;
                    max-width: 770px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            & .switcher {
                padding: 18px 0px 18px 36px;
                & .switcher__container {
                    max-height: calc(100vh - 320px);
                    min-height: calc(100vh - 320px);
                    height: 100%;
                    overflow: auto;
                    padding-bottom: 64px;
                }
                & .switcher__toggle {
                    margin-bottom: 28px;
                    display: flex;
                    & button {
                        cursor: pointer;
                        margin-right: 8px;
                        font-size: 16px;
                        border-bottom: 3px solid transparent;
                    }
                    & button:last-child {
                        margin-right: 0;
                    }
                    & .active {
                        font-weight: bold;
                        border-bottom: 3px solid #6cffd5;
                    }
                }
            }
        }
        & .goals__container-purposeCount-balance-sphere {
            max-width: 262px;
            width: max-content;
            & h2 {
                margin-bottom: 20px;
            }
        }
        & .goal__section {
            display: flex;
            width: max-content;
            & .goal__section-item {
                max-width: 262px;
                width: 262px;
                margin-right: 20px;
                position: relative;
                & h3 {
                    text-align: center;
                    margin-bottom: 28px;
                }
                & button {
                    position: absolute;
                    left: 40%;
                }
            }
        }
    }
}

.goal__modal {
    max-width: 450px;
    min-width: 450px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    background: white;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    padding: 0px 35px 64px;
    z-index: 1;
    & svg {
        width: 20px;
        height: 20px;
        margin-right: 18px;
    }
    .content-container {
        margin-bottom: 28px;
    }
    .goal__modal__attachement,
    .goal__modal__checklist {
        position: relative;
        & button {
            & svg {
                position: absolute;
                right: 8px;
            }
            & span {
                font-size: 16px;
            }
        }
    }
    .goal__modal__date {
        input {
            border: none;
            border-bottom: 1px solid #25315b;
            width: 315px;
        }
    }
    .goal__modal__header {
        margin-bottom: 18px;
        padding: 32px 36px;
        position: sticky;
        top: 0;
        z-index: 1;
        background: #fff;
        & input {
            width: 100%;
        }
        & svg {
            width: max-content;
            height: max-content;
        }
        & .goal__modal__header__actions {
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 0;
            right: -50px;
            top: 20px;
            & button {
                margin-right: 24px;
            }
            & button:first-child {
                & svg {
                    margin-top: -2px;
                }
            }
        }
    }

    .goal__modal__name {
        padding-top: 42px;
        & input {
            border: none;
            padding: 8px;
            font-size: 24px;
            border-bottom: 1px solid #25315b;
        }
    }

    .goal__modal__description,
    .goal__modal__comment {
        position: relative;
        margin-bottom: 24px;
        & svg {
            position: absolute;
            top: 2px;
        }
        & textarea {
            padding: 4px;
            margin-left: 36px;
            border: none;
            width: 315px;
            background: #f6f5fa;
            min-height: 116px;
        }
    }
    .goal__modal__sphere {
        display: flex;
        margin-bottom: 48px;
        & select {
            cursor: pointer;
            border: none;
            background: none;
        }
    }
    .sphereColorBlock {
        width: 18px;
        height: 18px;
        border-radius: 5px;
        margin-right: 16px;
    }
    .bright {
        background: rgb(105, 228, 255);
    }
    .gathering {
        background: rgb(185, 126, 255);
    }
    .longterm {
        background: rgb(129, 255, 179);
    }
    .extreme {
        background: rgb(255, 168, 118);
    }

    .gratitude {
        background: rgb(255, 113, 216);
    }
    .nature {
        background: rgb(254, 109, 109);
    }
    .self {
        background: rgb(251, 246, 129);
    }
    .deal {
        background: rgb(100, 189, 255);
    }
    .goal__modal__submit-button {
        padding: 12px 18px;
        background: #3175d6;
        border-radius: 5px;
        float: right;
        & button {
            color: #fff;
        }
        & button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .goal__modal__mission {
        padding: 16px 32px;
        .goal__modal__mission-item {
            display: flex;
            cursor: pointer;
            margin-bottom: 16px;
            & input {
                border: none;
                color: #25315b;
                margin-right: 16px;
                border-bottom: 1px solid #25315b;
            }
            & input[type='checkbox'] {
                opacity: 1;
                filter: hue-rotate(30deg);
                margin-top: 2px;
                margin-right: 20px;
                width: 20px;
                height: 20px;
            }
            & button {
                margin-top: -3px;
                & svg {
                    position: relative;
                    right: 0;
                }
            }
        }
    }
    .goal__modal__attachement__image {
        margin: 0 auto;
        max-width: 300px;
        padding-top: 24px;
        & .goal__modal__attachement__image-text {
            margin-bottom: 8px;
            max-width: 300px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        & button {
            & svg {
                position: relative;
                right: 0;
            }
        }
    }
}

.goal__modal-edit {
    & .goal__name {
        font-size: 24px;
    }

    & .content-container {
        p {
            word-break: break-word;
        }
        &.goal__modal__description {
            & p {
                margin-left: 40px;
            }
        }
        &.goal__modal__comment {
            & p {
                margin-left: 40px;
            }
        }
        &.goal__modal__date {
            display: flex;
        }
    }
    & .goal__modal-edit__buttons {
        float: right;
        button:first-child {
            background: #fff;
            border: 1px solid #3c64b1;
            color: #3c64b1;
        }
        button:last-child {
            background: #3175d6;
            border: 1px solid transparent;
            color: #fff;
        }
        button {
            border-radius: 5px;
            padding: 12px 18px;
        }
    }
    & .goal__modal__attachement {
        min-height: 100px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .goals__container .goals__container-switcher-title {
        & .title {
            & p {
                max-width: 125px !important;
            }
        }
    }
}

@media screen and (min-width: 1400px) and (max-width: 1550px) {
    .goals__container .goals__container-switcher-title {
        & .title {
            & p {
                max-width: 250px !important;
            }
        }
    }
}

@media screen and (min-width: 1550px) and (max-width: 1700px) {
    .goals__container .goals__container-switcher-title {
        & .title {
            & p {
                max-width: 380px !important;
            }
        }
    }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
    .goals__container .goals__container-switcher-title {
        & .title {
            & p {
                max-width: 450px !important;
            }
        }
    }
}

@media screen and (min-width: 1800px) and (max-width: 1900px) {
    .goals__container .goals__container-switcher-title {
        & .title {
            & p {
                max-width: 550px !important;
            }
        }
    }
}
