@import 'assets/project-styles/mixin.scss';
@include scrollbarMedium('.algorithms-content-block');
@include scrollbarMedium('.relationships-content');
@include scrollbarMedium('.block-values');
@include scrollbarMedium('.block-principles');
@include scrollbarMedium('.block-remember');

.main-content-values {
    margin: 80px 0 32px 64px;
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    & span {
        color: #25315b;
        display: flex;
        justify-content: space-between;
        outline: none;
        max-width: 505px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        word-break: break-word;
    }
    & #my-quotes {
        padding-left: 0;
    }
}

.block-values {
    min-width: 18vw;
    max-width: 18vw;
    max-height: 346px;
    background: white;
    border-radius: 15px;
    grid-area: 1 / 1 / 5 / 4;
    overflow-y: auto;
    & span {
        display: flex;
        margin: 0px 16px 8px 16px;
    }
}

.values-head {
    display: flex;
    justify-content: space-between;
    margin: 23px 26px 16px 16px;
}

.block-principles {
    min-width: 18vw;
    max-width: 18vw;
    max-height: 346px;
    height: 346px;
    overflow-y: auto;
    background: white;
    border-radius: 15px;
    grid-area: 1 / 4 / 5 / 7;
    & span {
        display: flex;
        justify-content: space-between;
        margin: 0 16px;
        padding-bottom: 8px;
    }
}

.block-remember {
    max-width: 37.5vw;
    min-height: 346px;
    max-height: 346px;
    overflow-y: auto;
    background: white;
    border-radius: 15px;
    grid-area: 5 / 1 / 7 / 7;
    padding: 23px 26px 0px 16px;
    & .remember-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    & li {
        color: #25315b;
        font-size: 15px;
        margin-left: 30px;
    }

    & li::marker {
        font-size: 25px;
    }
}

.modal-wrap {
    & .algorithms-content-block,
    .relationships-content {
        width: calc(100vw - 70vw) !important;
    }
    & .block-principles {
        height: auto !important;
    }
    & .add-task {
        padding: 0 16px;
        width: auto;
        background: none;
        & input {
            font-size: 16px;
        }
    }
    & .content {
        margin-top: 0;
        & .notes {
            display: flex;
            justify-content: space-between;
        }
    }
    & li {
        position: relative;
        display: flex;
        margin-bottom: 16px;
        margin-left: 16px;
        & svg {
            position: absolute;
            right: 8px;
            top: 2px;
        }
        & span {
            border-bottom: 1px solid #25315b;
            width: -webkit-fill-available;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & button {
            width: 28px;
        }
    }
    & input {
        outline: none;
        border: none;
        border-bottom: 1px solid #25315b;
    }
    & .block-business {
        & .algorithms-content-block {
            padding: 15px;
            height: auto;
            width: calc(100vw - 80vw);
        }
    }
    & .block-remember {
        height: auto;
    }
    & .business-head {
        position: absolute;
        top: 8px;
        width: -webkit-fill-available;
        margin: 0 auto;
        & .relationships-content {
            padding: 15px;
            height: auto;
        }
        & h3 {
            font-size: 24px;
            font-weight: bold;
        }
    }
    & .content {
        padding-top: 64px !important;
    }
}

.block-group {
    max-width: 37.5vw;
    height: 176px;
    background: white;
    border-radius: 15px;
    grid-area: 7 / 1 / 9 / 7;
    & img {
        margin: 29px 33px 0px 45px;
    }
}

.add-values-item {
    margin: 45px 0;
    text-align: center;
}

.block-algorithms {
    min-width: 35vw;
    max-width: 35vw;
    max-height: 909px;
    background: white;
    border-radius: 15px;
    grid-area: 1 / 7 / 9 / 13;
    & .algorithms-head {
        display: flex;
        justify-content: space-between;
        margin: 23px 29px 8px 23px;
    }
    & .algorithms-content {
        display: flex;
        margin: 0 27px;
    }

    & .business-head {
        & .algorithms-content-block {
            width: 15vw;
            max-height: 760px;
            height: 760px;
            background: #f2f9ff;
            margin-right: 20px;
            border-top: 5px solid #64bdff;
            grid-area: 2 / 7 / 9 / 10;
            overflow-y: auto;
        }
        & .relationships-content {
            width: 15vw;
            max-height: 760px;
            height: 760px;
            background: #f8f5fe;
            border-top: 5px solid #b97eff;
            grid-area: 2 / 10 / 9 / 13;
            overflow-y: auto;
        }
        & h3 {
            margin-bottom: 16px;
            color: #25315b;
        }
        & .content {
            display: flex;
            flex-direction: column;
            padding-top: 17px;
            & .notes {
                border-radius: 5px;
                background: white;
                padding: 7px 21px 7px 7px;
                margin: 0px 15px 8px 15px;
            }
        }
    }
}

.edit-save {
    width: 20px;
    height: 20px;
    content: url('../../icons/save.svg');
    background-color: #25315b;
    display: block;
}

.hide {
    display: none;
}

.span_list {
    display: flex;
    align-items: center;
}

#my-principles,
#my-values {
    padding: 20px;
}

.modal_window {
    .add-task {
        & input {
            color: #25315b;
        }
    }
    .modal-list {
        & span {
            margin-bottom: 16px;
            border-bottom: 1px solid #25315b;
            width: -webkit-fill-available;
        }
    }
    .modal-list__item {
        display: flex;
        & svg {
            position: relative;
            top: -6px;
            right: 6px;
        }
    }
}
